<app-navbar></app-navbar>
<router-outlet>
<h1>Menu aqui van los productos</h1>
<div class="grid-container">
<div *ngFor="let categoria of categorias" class="card mb-3">
    <div class="" style="cursor: pointer;" (click)="onCardClick(producto)">
        <img [src]="producto.imagen || 'https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp'" class="card-img-top" alt="{{ producto.nombre }}"/>
        <div class="card-body">
          <h5 class="card-title">{{ producto.nombre }}</h5>
          <p class="card-text"><strong>Precio: </strong>{{ producto.precio | currency }}</p>
        </div>
      </div>
</div>
</div>
</router-outlet>