<router-outlet>
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h1 class="text-center">POS Móvil</h1>
        <h2 class="text-center">Autenticación</h2>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="email" id="form1Example1" class="form-control" formControlName="email" />
            <label class="form-label" for="form1Example1">Correo electrónico</label>
            <div
              *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)">
              <small *ngIf="loginForm.get('email')?.errors?.['required']" class="text-danger">El correo electrónico es
                requerido.</small>
              <small *ngIf="loginForm.get('email')?.errors?.['email']" class="text-danger">El correo electrónico no es
                válido.</small>
            </div>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <input type="password" id="form1Example2" class="form-control" formControlName="password" />
            <label class="form-label" for="form1Example2">Contraseña</label>
            <div
              *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)">
              <small *ngIf="loginForm.get('password')?.errors?.['required']" class="text-danger">La contraseña es
                requerida.</small>
            </div>
          </div>

          <!-- Submit button -->
          <button type="submit" class="btn btn-primary">Iniciar sesión</button>
        </form>
      </div>
    </div>
  </div>
</router-outlet>