<div class="d-flex">
    <app-admin-sidebar></app-admin-sidebar>
    <div class="content p-4">
        <router-outlet>
            <table class="table align-middle mb-0 bg-white">
                <thead class="bg-light">
                  <tr>
                    <th>Datos basicos</th>
                    <th>Rol</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                        <div class="ms-3">
                          <p class="fw-bold mb-1">nombre</p>
                          <p class="text-muted mb-0">email</p>
                        </div>
                      </div>
                    </td>
                    <td>role</td>
                    <td>
                      <button type="button" class="btn-primary">
                        Editar
                      </button>
                      <button type="button" class="btn-primary" >
                        Eliminar
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              
      </router-outlet>
    </div>
  </div>