<router-outlet>
  <div *ngIf="cartItems && cartItems.length > 0">
    <h2>Tu Carrito</h2>
    <ul>
      <li *ngFor="let item of cartItems">
        {{ item.nombre }} - {{ item.cantidad }} x {{ item.precio | currency }}
        <button (click)="removeItem(item)">Eliminar</button>
      </li>
    </ul>
    <p>Total: {{ getTotal() | currency }}</p>
    <button (click)="enviarPedido()">Pagar</button>
  </div>
  
  <!-- Mostrar mensaje si el carrito está vacío -->
  <div *ngIf="cartItems.length === 0">
    <p>El carrito está vacío.</p>
  </div>
</router-outlet>